
h3{
  font-family: cursive;
    font-weight: bold;
    font-size: 35px;
  margin-top: 80px;
  margin-left: 10px;
}
/* *******************************************buttons */
.but1{
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #00b3b3 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #062066;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:cursive;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  margin-bottom: 50px;
  margin-left: 720px;
  margin-top: 120px;
}
.but1:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.but1:active {
	position:relative;
	top:1px;
}
/* .but1 {
    display: inline-block;
    border-radius: 6px;
    background-color: #1249b1;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 210px;

  }
  
  .but1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .but1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .but1:hover span {
    padding-right: 25px;
  }
  
  .but1:hover span:after {
    opacity: 1;
    right: 0;
  } */
  /* ****************************** */
  /* .but2 {
    display: inline-block;
    border-radius: 4px;
    background-color: #1249b1;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .but2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .but2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .but2:hover span {
    padding-right: 25px;
  }
  
  .but2:hover span:after {
    opacity: 1;
    right: 0;
  } */
  .but2 {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #00b3b3 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #062066;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:cursive;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  margin-left: 680px;
}
.but2:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.but2:active {
	position:relative;
	top:1px;
}

.but3 {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #00b3b3 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #062066;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:cursive;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  margin-left: 240px;
}
.but3:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.but3:active {
	position:relative;
	top:1px;
}
.but4 {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #00b3b3 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #062066;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:cursive;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin-left: 25px;
    margin-bottom: 30px;
}
.but4:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.but4:active {
	position:relative;
	top:1px;
}
/* ********************map */
agm-map{
    height: 500px;
    width: 2300px;
    
   

}