<div class="test">

<form [formGroup]="form" (ngSubmit)="submit()" >
  <input type="text" placeholder="Put your location" ><br><br>

  <label for="orders" class="car"> Choose a Type of Car :</label><br><br>
  
  <select >
    <option value="0"> Type of Car </option>
    <option value="1">Confort car </option>
    <option value="2">Normal car </option>
    <option value="3">Safe car </option>
  </select>
  
  <br><br>
  <br><br>

  <button id="btn" routerLink="/driver">submit</button>
 
</form>
</div>

<agm-map [latitude] ="36.8688529" [longitude] ="10.1353404">
  <agm-marker [latitude] ="36.8762932" [longitude] ="10.2538732"></agm-marker>
  <agm-marker [latitude] ="36.8688529" [longitude] ="10.1353404"></agm-marker>
</agm-map>

