<div >

  <input type="text" placeholder="Put your location" ><br><br>

  <label for="orders" class="car"> Choose a Type of Car :</label><br><br>
  
  <select (change)="getType($event)">
    <option value="0"> Type of Car </option>
    <option value="Comfort cars">Comfort car </option>
    <option value="Normal cars">Normal car </option>
    <option value="Safe cars">Safe car </option>
  </select>
  
  <br><br>
  <br><br>

  <button id="btn" (click) = "sendType()">submit</button>
 
<!-- routerLink="/driver" -->
</div>

<agm-map [latitude] ="36.8688529" [longitude] ="10.1353404">
  <agm-marker [latitude] ="36.8762932" [longitude] ="10.2538732"></agm-marker>
  <agm-marker [latitude] ="36.8688529" [longitude] ="10.1353404"></agm-marker>
</agm-map>

