<div class="bg">
<div class="introduction" >
    <h1>Ready to go ❓</h1>
    <h5>Anytime ❓</h5>
    <h4>Anywhere ❓</h4>
    <h2>24/7 Service</h2>
    <h3>We are always there at your service 🚗 🚙</h3>
    
    </div>
    <div class="social-container">
        <h3>Follow us on </h3>
       <div className="social-container">
      <h3>Follow us on </h3>
      <fa-icon [icon]="faFacebook"></fa-icon>
      <fa-icon [icon]="faTwitter"></fa-icon>
      <fa-icon [icon]="faInstagram"></fa-icon>
      </div>
    </div>