<div class="bg">
<div class="introduction" >
    <h1>Ready to go ❓</h1>
    <h5>Anytime ❓</h5>
    <h4>Anywhere ❓</h4>
    <h2>24/7 Service</h2>
    <h3>We are always there at your service 🚗 🚙</h3>
    
    </div>
    <div class="social-container">
      <h3>Follow us on </h3>
    </div>
      <div class="p1">
        <a
      href="https://www.facebook.com/Tuber-105602164694901" target="_blank"
      class=" youtube social"
    >
      <fa-icon id='p1' [icon]="faFacebook" ></fa-icon></a>
    </div>
    <div class="p2">
      <a
      href="https://www.twitter.com" target="_blank"
      class="youtube social"
    >
     <fa-icon id="p2" [icon]="faTwitter" href=":https://twitter.com/Tuber14178713"></fa-icon></a>
    </div>
      <div class="p3">
        <a
      href="https://www.instagram.com/tuber.tunisie/" target="_blank"
      class="youtube social"
    >
      <fa-icon id="p3" [icon]="faInstagram" href ="https://www.instagram.com"></fa-icon></a>
    </div>  
    <div class="p4">
      <a
      href="https://www.google.com" target="_blank"
      class="youtube social"
    >
      <fa-icon id="p4" [icon]="faGoogle"></fa-icon></a>
    </div>
    <div class="p5">
      <h5>For more information: tuber.tunisie@gmail.com</h5>
    </div>  
    
</div>